<header id="header">
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="assets/images/guy.jpg" alt="">
			<span class="title">SymfoLivre !</span>
			<span class="tagline">Vos Livres en Ligne <br>
				<a href="">rudy.lopez.houplin@gmail.com</a></span>
		</h1>
	</div>

	
</header>