{% extends 'base-user.html.twig' %}
{% block title %}Fonctionnalité en cours de développement{% endblock %}

{% block body %}
    <h1>Fonctionnalité en cours de développement</h1>
    <p>{{ message }}</p>
     {% include("main/main.html.twig")%}    
{% endblock %}
