<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="Sergey Pozhilov (GetTemplate.com)">

		<title>
			{% block title %}
				SymfoLivre
			{% endblock %}
		</title>

		{% block stylesheets %}
			<!-- Bootstrap -->
			<link
			href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
			<!-- Icons -->
			<link
			href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
			<!-- Fonts -->
			<link
			rel="stylesheet" href="http://fonts.googleapis.com/css?family=Alice|Open+Sans:400,300,700">
			<!-- Custom styles -->
			<link rel="stylesheet" href="assets/css/styles.css">
		{% endblock %}


		<link rel="shortcut icon" href="assets/images/gt_favicon.png">


		{% block javascripts %}<!--[if lt IE 9]>      <script src="assets/js/html5shiv.js"></script> <![endif]-->

			<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
			 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			 <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
			 <script src="assets/js/template.js"></script>
			<!-- {{ encore_entry_script_tags('app') }} -->
		{% endblock %}

	</head>

	

	<body class="home"> 
		    <!-- Header-->
 {% include("menus/nav-admin.html.twig")%}
	{% include("header/header.html.twig")%}
		

	{% block body %}



    <!-- NavBar-->

        
     
    {% endblock %}

	
	{% include("footer/footer.html.twig")%}   
	</body>
	</html>
