{% extends 'base.html.twig' %}

{% block title %}Edit Categorie{% endblock %}

{% block body %}
    
    {% include("menus/navigation_admin.html.twig") %}
    {% include("headers/header_admin.html.twig") %}


<div class="container">
     <article>
        <h2> Edition: {{user.noms}}</h2> <br>                    
                        
        <div>
            {{ include('users/_form.html.twig', {'button_label': 'Editer'}) }}

            {#<a href="{{ path('app_users_index') }}">Liste des Utilisateurs</a>#}
         </div> 
          {{ include('users/_delete_form.html.twig') }}   
          <br><br><br><br><br><br><br>
        </div>
    </article>   
           
    </div>

{% endblock %}






