<form method="post" action="{{ path('users_sup', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sûre de vouloir supprimer?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger">Suppr</button>
</form>
