{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    
<div class="container">
     <article>
        <h2> Edition: {{user.nomUser}}</h2> <br>                    
                        
        <div>

         </div> 
          <br><br><br><br><br><br><br>
        </div>
    </article>   
           
    </div>

{% endblock %}
