{% extends 'base.html.twig' %}

{% block title %}Nouvelle Categorie{% endblock %}

{% block body %}
    <h1>Create new categorie de livre</h1>

    {{ include('categorie/_form.html.twig') }}

{% endblock %}
