<!DOCTYPE html>
<html>
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="assets/images/guy.jpg" alt="">
			<span class="title">symfoLivre</span>
			<span class="tagline">A mystery person<br>
				<a href="">toto2@example.com</a></span>
		</h1>
	</div>
</html>
