{% extends 'base.html.twig' %}


{% block body %}
                
        <article class="col-md-12 maincontent">
            <div class="container">
                <div class="row">
                   <h1>{{ categorie.nomCategorie }} categorie' Profil </h1> | 
                   <hr>

                        <article>                        
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-2 display-6">Titre:</div>
                                    <div class="col-sm-10 display-6">{{ categorie.nomCategorie }}</div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2 display-6">Information:</div>
                                    <div class="col-sm-10 display-6">{{ categorie.informationCategorie }}</div>
                                </div>

                            </div>
                        </article>
                        
                </div>     
                 
                 <br><br><br>
                 <a href="{{ path('app_categorie') }}" class="btn btn-primary"> Liste des Categories /  </a>        
            </div>
                
            <br> <br>
        </article> 
          
{% endblock%}




